asgiref
certifi
cffi
chardet
coreapi
coreschema
cryptography
defusedxml
Django
django-base64field
django-filter
django-rest-framework
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-extra-fields
gunicorn
idna
image
itypes
Jinja2
MarkupSafe
oauthlib
Pillow
pycparser
PyJWT
python3-openid
pytz
reportlab
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
uritemplate
urllib3
gunicorn
psycopg2